{{! 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

  <head>
    <title> Slack page </title>
    <meta charset='utf-8' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/fav/site.webmanifest' />
    <link
      rel='mask-icon'
      href='/fav/safari-pinned-tab.svg'
      color='#5bbad5'
    />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />
    <meta
      name='viwport'
      content='viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0 user-scalable=no'
    />
    <link href='css/normalize.css' rel='stylesheet' />

    {{! <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD'
      crossorigin='anonymous'
    /> }}

    <link href='css/slack.css' rel='stylesheet' />

    {{! <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'
      rel='stylesheet'
    /> }}

  </head>

  <body>

    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   }}
    <div class='page'>
      <section class='page_section'>
        <div class='page_content hero_section'>
          <div class='hero'>
            <div class='hero_content'>
              <span class='hero_label'>
                Slack Features
              </span>
              <h1 class='hero_title'>One platform for your
                team and your work</h1>
              <p class='hero_info double-line'>All the
                features of Slack work together so you can,
                too.</p>
              <div class='hero_buttons'>
                <a
                  href='#'
                  class='button button_primary click'
                >Try for free</a>
                <a
                  href='#'
                  class='button button_secondary click'
                >Sell all features</a>
              </div>
              <img
                src='/img/hero.jpg'
                alt='website pisture'
                class='hero_image'
              />
            </div>
          </div>

          <div class='brands'>
            <img
              src='/img/brands/airbnb.png'
              alt='airbnb'
              class='brands_image'
            />
            <img
              src='/img/brands/target.png'
              alt='target'
              class='brands_image'
            />
            <img
              src='/img/brands/uber.png'
              alt='uber'
              class='brands_image'
            />
            <img
              src='/img/brands/onemedical.png'
              alt='nemedical'
              class='brands_image'
            />
            <img
              src='/img/brands/newscorp.png'
              alt='newscorp'
              class='brands_image'
            />
            <img
              src='/img/brands/va.png'
              alt='va'
              class='brands_image'
            />
            <img
              src='/img/brands/intuit.png'
              alt='intuit'
              class='brands_image'
            />
            <img
              src='/img/brands/sonos.png'
              alt='sonos'
              class='brands_image'
            />
          </div>

        </div>
      </section>

      <section class='page_section page_section_light'>
        <div class='page_content features_section'>
          <h2 class='features_title'>Work more easily with
            everyone</h2>
          <p class='features_description double_line'>Stay
            on the same page and make decisions faster by
            bringing all of your work communication into one
            place.</p>
          <div class='features_grid_4'>
            <div class='feat_card'>
              <span
                class='icon'
                style="background-image: url('/svg/connect.svg');"
              ></span>
              <strong class='feat_card_title'>Slack Connect</strong>
              <p
                class='feat_card_descriprion double_line'
              >Collaborate with teams at other companies the
                same way you do with teams at your own.</p>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

            <div class='feat_card'>
              <span
                class='icon'
                style="background-image: url('/svg/chanels.svg');"
              ></span>
              <strong
                class='feat_card_title'
              >Chanels</strong>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

            <div class='feat_card'>
              <span
                class='icon'
                style="background-image: url('/svg/canvas.svg');"
              ></span>
              <strong
                class='feat_card_title'
              >Canvas</strong>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

            <div class='feat_card'>
              <span
                class='icon'
                style="background-image: url('/svg/huddles.svg');"
              ></span>
              <strong
                class='feat_card_title'
              >Huddles</strong>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

            <div class='feat_card'>
              <span
                class='icon'
                style="background-image: url('/svg/messaging.svg');"
              ></span>
              <strong
                class='feat_card_title'
              >Messaging</strong>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

            <div class='feat_card'>
              <span
                class='icon'
                style="background-image: url('/svg/clips.svg');"
              ></span>
              <strong class='feat_card_title'>Clips</strong>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

            <div class='feat_card'>
              <span
                class='icon'
                style="background-image: url('/svg/accessibility.svg');"
              ></span>
              <strong
                class='feat_card_title'
              >Accessibility</strong>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>
          </div>
        </div>
      </section>

      <section class='page_section page_section_light'>
        <div class='page_content actions_section'>
          <div class='actions_data'>
            <h2 class='features_title'>What you need, when
              you need it</h2>
            <p
              class='features_description double_line'
            >Spend less time shuffling tabs with a
              comprehensive message archive and all your
              work tools at your fingertips.</p>
          </div>
          <div class='action_grid_3'>
            <div class='feat_card'>
              <span
                class='icon'
                style="background-image: url('/svg/integration.svg');"
              ></span>
              <strong class='feat_card_title'>Apps and
                Integrations</strong>
              <p
                class='feat_card_descriprion double_line'
              >Streamline work by connecting Slack with
                other services like Google Drive, Office 365
                and over 2,200 more.</p>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

            <div class='feat_card'>
              <span
                class='icon'
                style="background-image: url('/svg/workflow.svg');"
              ></span>
              <strong class='feat_card_title'>Workflow
                Builder</strong>
              <p
                class='feat_card_descriprion double_line'
              >Automate routine actions and communication,
                so you can get back to the kind of work only
                humans can do.</p>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

            <div class='feat_card'>
              <span
                class='icon'
                style="background-image: url('/svg/search.svg');"
              ></span>
              <strong
                class='feat_card_title'
              >Search</strong>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

            <div class='feat_card'>
              <span
                class='icon'
                style="background-image: url('/svg/sharing.svg');"
              ></span>
              <strong class='feat_card_title'>File sharing</strong>
              <span
                href='#'
                class='icon icon_arrow click feat_link'
              ></span>
            </div>

          </div>
        </div>
      </section>

      <section class='page_section'>
        <div class='page_content delivero_section'>
          <div class='delivero'>
            <img
              src='/img/deliveroo-img.jpg'
              alt='delivero pisture'
              class='delivero_image'
            />
            <div class='delivero_description'>
              <q class='delevero_q'>“The thing that keeps us
                connected the most is Slack. It’s a very
                immediate and straightforward method of
                communication, and really the only channel
                that people prefer and enjoy using.”</q>
              <img
                src='/img/deliveroo.png'
                alt=''
                class='delivero_logo'
              />
              <p class='author'>Will Sprunt, CIO, Deliveroo</p>
            </div>
          </div>
        </div>
      </section>

      <section class='page_section'>
        <div class='page_content more_section'>
          <div class='more'>
            <strong class='more_title'>Explore more about
              working in Slack</strong>
            <div class='card_block'>
              <div class='more_card'>
                <div class="more_description">
                  <img src='/img/1card.jpg' alt='card image' />
                  <div class='category'>Slack Tutorials</div>
                  <strong class='card_title'>Slack 101</strong>
                </div>
                <div class='card_links'>
                    <a href='#'>LEARN MORE</a>
                    <span href='#'  class='icon icon_arrow click feat_link'  ></span>
                </div>
                
              </div>

              <div class='more_card'>
                <div class="more_description">
                  <img src='/img/2card.png' alt='card image' />
                  <div class='category'>Slack vs. Email</div>
                  <strong class='card_title'>An easier, more organized way to work</strong>
                </div>
                  <div class='card_links'>
                    <a href='#'>LEARN MORE</a>
                    <span href='#' class='icon icon_arrow click feat_link'></span>
                  </div>
                
              </div>

              <div class='more_card'>
                <div class="more_description">
                  <img src='/img/3card.jpg' alt='card image' />       
                  <div class='category'>Customer Stories</div>
                  <strong class='card_title'>How Fastly uses Slack Connect to wow enterprise customers</strong>
                </div>
                  <div class='card_links'>
                    <a class="click" href='#'>LEARN MORE</a>
                    <span class="click" href='#' class='icon icon_arrow click feat_link'></span>
                  </div>
              </div>

          </div>

        </div>
      </section>

    </div>
  </body>

</html>