
.card p {color: green;
-webkit-text-fill-color: red;
-webkit-text-stroke: 1px blue;}

p:focus,
p:active,
p:hover {color: green;
    /* -webkit-text-fill-color: red; */
    /* -webkit-text-stroke: 2px red;} */}


body {
    font-family: 'Roboto', sans-serif;
}

