:root {
    --space-s: 8px;
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px;

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 24px;

    --color-border: #dee2e6;
    --color-dark-border: #253041;
    --color-primary: rgb(46, 46, 255);
    --color-white: #fff;
    --color-title: #212529;
    --color-text: #343a40;

    --border-radius-d: 12px;
    --border-radius-s: 4px;
    --weight-title: 600;
    --font-weight: 400;
}


.page {
    background: #111827;
    color: #fff;

    padding: 0 5px;

    display: flex;
    justify-content: center;
}

.page_content {
    font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 960px;
    width: 100%;

    display: flex;
    flex-direction: column;
   
    gap: 60px;
    padding: 0 var(--space-b); 



}

/* ================= */

.header {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.head {
    display: flex;
    justify-content: space-between;
    padding: var(--space-m) 0;
    border-bottom: 1px solid var(--color-dark-border)
}

.underhead {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}

.logo {
    font-size: 14px;
    color: var(--color-white);
    font-weight: 700;
    background: #885FFB;
    padding: 8px 12px;
    gap: 10px;

    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav {
    display: flex;
}

.nav_inline {
    gap: var(--space-l);
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
    color: var(--color-white);
    font-size: var(--size-d);
    text-decoration: none; 
    
    line-height: 100%;
}
.nav_link:hover {
    text-decoration: underline;
    color: #d0c0ff;
}

.link {
    color: var(--color-white);
    font-size: var(--size-s);
    text-decoration: none;  
    line-height: 100%;
}
.link:hover {
    text-decoration: underline;
    color: #d0c0ff;
}

.ad {
    background: #885FFB33;
    padding: 2px 6px;
}

.users_online {
    font-size: var(--size-s);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 20px;
    background: radial-gradient(100% 625% at 100% 100%, rgba(17, 24, 39, 0) 0%, rgba(78, 63, 146, 0.6) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    padding: 32px;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.1));
    border-radius: 24px;
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero_title {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-white);
    font-weight: var(--font-weight);
    line-height: 120%;
    margin-top: 32px;

}

.hero_text {
    font-family: Inter, Roboto;
    font-size: var(--size-d);
    color: #9CA3AF;
    font-weight: 400px;
    line-height: 150%;
    width: 600px;
    /* height: 36px; */
    align-items: center;
text-align: center;
}

.hero_button {
    background-color: var(--color-text);
    color: #fff;
    background: #885FFB;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    padding: 12px 32px;
    margin-bottom: 32px;
}

.hero_button:hover {
    opacity: 0.7;
}

.about {
    background: #2A314170;
    padding: 32px;
    border-radius: 24px;
}

.about_title {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 16px;
}

.about_text {
    font-family: Inter, Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 170%;
    color: 9CA3AF;
}

.articles_block {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.our_articles {
    display: flex;
    justify-content: space-between;
}

.our_articles_title {
    font-size: 32px;
    font-weight: 700;
}

.our_articles_button {
    color: #9CA3AF;
    padding: 12px 20px;
    border: 1px solid #9CA3AF;
    border-radius: 10px;
}

.our_articles_button:hover {
    color: #fff;
    background: #885FFB;

}

.articles {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: flex-start;
    justify-content: s;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 300px;
    width: 100%;

    align-content: flex;
    flex-basis: 33%;
    justify-content: space-between;

}

.article_img {
    width: 100%;
    border-radius: 24px;
    align-self: stretch;

}

.article_title {
    font-size: 18px;
    font-weight: 700;
}

.article_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #9CA3AF;

}

.article_button {
    align-self: start;
    color: #fff;
    background: #885FFB;
    border-radius: 10px;
    padding: 8px 16px;

}

.article_button:hover {
    opacity: 0.7;
}


.page_block:not(:last-child) {
    margin-bottom: 80px;
}

.footer {
    padding: var(--space-l) 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--color-dark-border);
    margin: 16px 0 32px 0;
    
    
}

.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);
    display: block;
}