<div class='article'>
  <div class='relative'>
    <img
      class='article_img'
      src='{{photo}}'
      alt='article photo'
    />
    {{#if isNew}} <span class='new'> New </span> {{/if}}
  </div>
  <h3 class='article_title'>{{name}}</h3>
  <p class='article_text'>{{description}}</p>
  <button class='article_button' id='{{id}}'>
    Read All
  </button>
</div>